MANIFEST
build
cover
dist
site
_build
*.py[co]
__pycache__
*.egg-info
*~
*.bak
.ipynb_checkpoints
.DS_Store
\#*#
.#*
.coverage
.cache

data_kernelspec
.pytest_cache

# copied changelog file
docs/changelog.md
